.loginContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    height: 100vh;
    max-width: 100vw;
    padding: 1% 1% 1% 1%;
}

.loginContainer> div:nth-child(1){
    display: flex;
    /* border: 1px solid red; */
    max-width: 60vw;
    flex-direction: column;
    padding: 3% 3% 3% 17%;
}
    
    .boxofContent>div:first-child > div:last-child > span {
        color: rgb(43,59,140);
        font-weight: bold;
        
}

.boxofContent > form {
    display: flex;
    flex-direction: column;
}

.formContent > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.formContent > div:nth-child(1) > label {
    margin-top: 6vh;
}
.formContent > div:nth-child(1) > input {
    padding: 2% 3%;
    width: 70%;
    font-size: medium;
    border: 0px;
    outline: none;
    border-bottom: 2px solid black;
}

.formContent > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.formContent > div:nth-child(2) > label {
    margin-top: 3vh;
}
.formContent > div:nth-child(2) > input {
    padding: 2% 3%;
    width: 70%;
    font-size: medium;
    border: 0px;
    outline: none;
    border-bottom: 2px solid black;
}

.formContent > div:nth-child(3) {
    margin-top: 2vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formContent > div:nth-child(3) > label {
    font-size: medium;
}
.formContent > div:nth-child(3) > input {
    padding: 2% 3%;
    width: 70%;
    font-size: medium;
    border: 0px;
    outline: none;
    border-bottom: 2px solid black;
}

.formContent > div:nth-child(4) {
    margin-top: 2vh ;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formContent > div:nth-child(4) > label {
    font-size: medium;
}
.formContent > div:nth-child(4) > input {
    padding: 2% 3%;
    width: 70%;
    font-size: medium;
    border: 0px;
    outline: none;
    border-bottom: 2px solid black;
}

.formContent > div:nth-child(5) > button {
    width: 100%;
    width: 70%;
    padding: 3% 0 3% 0;
    background-color: rgb(43,59,140);
    color: white;
    font-size: medium;
    border: 0px;
    border-radius: 5px;
}


.loginContainer > div:last-child {
background-color: rgb(43,59,140);
display: flex;
align-items: center;
justify-content: center;
border-radius: 2%;
}

.loginContainer > div:last-child > img {
    width: 60%;
    object-fit: contain;
}