.box {
    background-color: rgb(43,59,140);
    position: absolute;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 10;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* height: 300vh; */
}
.navbar {
    display:  flex;
    max-width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
}

.navbar > .navTab  > ul {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.text {
    list-style: none;
    color: white;
    text-decoration: none;
}

.text ::hover {
    text-decoration: underline;
}

.searchBox {
    display: flex;
    align-items: center;
    /* position: relative; */
}
.searchBox > span { 
    position: absolute;
    display: flex;
    padding-left: 7px;
    justify-content: center;
}
.search {
    width: 22vw;
    padding: 3% 3% 3% 10%;
    border-radius: 7px;
    border: 1px solid white;
    outline: none;
}

.icons {
    width: 12vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
